<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.smartlibhost">

    <dist:module dist:instant="true" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@mipmap/smartlib"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/smartlib"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.PhoneNumber" />
        <activity android:name="com.folioreader.ui.activity.SearchActivity"
            android:exported="true"/>
        <activity android:name=".activity.QRCodeActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.VerifyPhoneActivity" />

        <service
            android:name=".activity.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.CartActivity"
            android:configChanges="uiMode" />
        <activity android:name=".activity.MemberCardActivity" />
        <activity android:name=".activity.TheloaiActivity.TheLoai_Item" />
        <activity
            android:name=".epubparser.EpubParseActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".activity.TheloaiActivity.TheLoai"
            android:configChanges="uiMode"
            android:label="@string/title_activity_the_loai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.LineGraphActivity" />
        <activity android:name=".activity.BorrowActivity" />
        <activity android:name=".activity.AddingBookActiviy" />
        <activity
            android:name=".activity.BookDetailsActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>